<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="primary">

                Howdy! On your way to Paradise Valley, MT? Let us pitch the tent.

                Pitch glamping was started (and built from the ground up!) by two Park High School graduates from Livingston, Montana. Growing up in the valley, Stevie & Wyatt wanted to share their favorite pieces of paradise with you. We hope you enjoy your stay. 
            </div>-->

            <div class="col-lg-6 col-sm-7 center">
                <img src="img/domes-49.jpg" class="img-responsive">
            </div>

            <div class="col-lg-6 text-left">
                <h2 class="section-heading" style="color:theme-green">About</h2>
                <p class="text-domes">
                    Howdy! On your way to Paradise Valley, MT? Let us pitch the tent.
                    <br><br>
                    Pitch glamping was started (and built from the ground up!) by two Park High School graduates from Livingston, Montana. After growing up in the valley, we wanted to share our favorite pieces of paradise with you through a unique stay. 
                    
                    <br><br>
                    We hope you enjoy your time at Pitch!
                </p>
                <div class="dropdown">
                    <button onclick="myFunction('myDropdown3')" class="dropbtn">Book Now</button>
                    <div id="myDropdown3" class="dropdown-content">
                      <a href="https://myrentals.holidayfuture.com/listings/102413" target="_blank" rel="noopener noreferrer">Dome 1</a>
                      <a href="https://myrentals.holidayfuture.com/listings/93258" target="_blank" rel="noopener noreferrer">Dome 2</a>
                      <a href="https://myrentals.holidayfuture.com/listings/93262" target="_blank" rel="noopener noreferrer">Dome 3</a>
                      <a href="https://myrentals.holidayfuture.com/listings/93257" target="_blank" rel="noopener noreferrer">Dome 4</a>
                    </div>
                </div>
                <!--<a href="https://www.airbnb.com/users/show/422424988" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-xl">Book Now</a>-->
            </div>
        </div>
    </div>
</section>
