<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-sm-7 center">
                <img src="images/steve.jpeg" class="img-responsive">
            </div>

            <div class="col-lg-6 text-left">
                <h2 class="section-heading" style="color:theme-green">About</h2>
                <p class="text-domes">
                    We build nice shit.
                    <br><br>
                    
                    <br><br>
                    Yeehaw!
                </p>
                <div class="dropdown">
                    <button onclick="myFunction('myDropdown3')" class="dropbtn">Contact Us</button>
                    <div id="myDropdown3" class="dropdown-content">
                        <a href="tel:406-220-0763">Call Now</a>
                        <a href="mailto:Newhouseconstruction.mt@gmail.com">Email</a>    
                    </div>
                </div>
                <!--<a href="https://www.airbnb.com/users/show/422424988" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-xl">Book Now</a>-->
            </div>
        </div>
    </div>
</section>
