<section class="bg-primary-color" id="contact">
    <div class="container">
        <div class="row">

        <div class="col-lg-3 col-lg-offset-1 text-center">
            <p>
                Contact:
                <a href="tel:4062200763" class="text-domes">406-220-0763</a>
                <br>
                <a href="mailto:newhouseconstruction.mt@gmail.com" class="text-domes">Newhouseconstruction.mt@gmail.com</a>
            </p>
        </div>  
        
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="#"> <img src="images/logo.png" class="img-responsive"> </a>
            <!--<p>Follow and Tag Us!</p>
            <a href="https://www.instagram.com/pitch.yellowstone/?utm_medium=copy_link" class="fa fa-instagram"></a>
            <br><br><br><br>   --> 
        </div> 

        <div class="col-lg-3 col-lg-offset-1 text-center">
            <p>
                Newhouse Construction LLC 
                <!--<br>
                *** US Highway 89 South,
                <br>-->
                Livingston, MT 59047
            </p>
            <br> <br> 
        </div>

       

        <!--<div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>-->

    </div>
</section>
