<section class="bg-primary" id="domes">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 center">
                <!--START JUICEBOX EMBED-->
                <script src="jbcore/juicebox.js"></script>
                <script>
                new juicebox({
                containerId: "juicebox-container",
                galleryWidth: "100%",
                galleryHeight: "70%",
                backgroundColor: "rgba(34,34,34,0)"
                });
                </script>
                <div id="juicebox-container"></div>
                <!--END JUICEBOX EMBED-->
            </div>

            <div class="col-lg-4 text-left">
                <h2 class="section-heading">The Domes</h2>
                <p class="text-domes"> Wake up to some of the most expansive views of the Absaroka-Beartooth mountain range in all of Paradise Valley, and end your evening stargazing into the clear night sky by your personal fire pit.  
                    <br><br>
                    We do not have TV or internet. We hope our guests can unplug, unwind and experience everything the greater Yellowstone area has to offer. We do provide board games in each dome for rainy days.
                    <br><br>
                    Each Dome features a luxurious queen bed, a large bathroom w/ modern appliances and a kitchenette perfect for cooking in, or packing lunches for the trail. The units are also heated and air conditioned for a comfortable stay during any season. Experience nature without sacrificing modern finishes or a warm shower at the end of each day.
                </p>

                <div class="dropdown">
                    <button onclick="myFunction('myDropdown1')" class="dropbtn">Book Now</button>
                    <div id="myDropdown1" class="dropdown-content">
                        <a href="https://myrentals.holidayfuture.com/listings/102413" target="_blank" rel="noopener noreferrer">Dome 1</a>
                        <a href="https://myrentals.holidayfuture.com/listings/93258" target="_blank" rel="noopener noreferrer">Dome 2</a>
                        <a href="https://myrentals.holidayfuture.com/listings/93262" target="_blank" rel="noopener noreferrer">Dome 3</a>
                        <a href="https://myrentals.holidayfuture.com/listings/93257" target="_blank" rel="noopener noreferrer">Dome 4</a>
                      </div>
                </div>
                
                <!--<a href="https://www.airbnb.com/users/show/422424988" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-xl">Book Now</a>-->
            </div>
            <html>
        </div>
    </div>
</section>