<body>
    <header class="header">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Newhouse</h1>
                <h1>Construction</h1>
                <hr>
                <h3>Custom Homes, General Contracting, and Construction</h3>
                <h4>Bozeman, Livingston and Surrounding</h4>
                <br>
                <div class="dropdown">
                    <button onclick="myFunction('myDropdown')" class="dropbtn">Contact Us</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="tel:406-220-0763">Call Now</a>
                      <a href="mailto:Newhouseconstruction.mt@gmail.com">Email</a>  
                    </div>
                </div>
            </div>
            <html>
        </div>
    </header>
</body>

<script>
    function myFunction(opt) {
      document.getElementById(opt).classList.toggle("show");
    }
    
    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
</script>