<section class="bg-location" id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-left">
                <h2 class="section-heading" style="color:theme-green">Location</h2>
                <p class="text-domes">
                    The Domes offer some of the best views in Paradise Valley and are still in a convenient location with easy highway access: a few minutes to the Mallards Rest fishing access which offers unbeatable access to the Yellowstone River, 15 min to Livingston and Emigrant, 40 min to Yellowstone National Park, and 40 minutes to downtown Bozeman.
                    <br><br>
                    The units are situated on 100 acres which is shared by a horse ranch. The property also borders 120 acres of public Bureau of Land Management land that guests are welcome to explore. 
                    <br><br>
                    We do allow pets, but there will be an additional $45 cleaning fee and strict rules to ensure the safety of all guests and their furry friends.
                </p>
            </div>

            <div class="col-lg-6 col-sm-7 center">
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2797.9821921944763!2d-110.63141954883044!3d45.47016264096385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x534f8d9c16ed380b%3A0x62ef158b14ecd1e4!2sThe%20Domes!5e0!3m2!1sen!2sus!4v1636512598203!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
