<section class="bg-primary" id="domes">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <!--START JUICEBOX EMBED-->
                <script src="jbcore/juicebox.js"></script>
                <script>
                new juicebox({
                containerId: "juicebox-container",
                galleryWidth: "100%",
                galleryHeight: "70%",
                backgroundColor: "rgba(255,255,255,1)"
                });
                </script>
                <div id="juicebox-container"></div>
                <!--END JUICEBOX EMBED-->
            </div>

            <div class="col-lg-5 text-left">
                <h2 class="section-heading">What We Do</h2>
                <p class="text-domes"> Newhouse construction works closely with clients to deliver dream projects <b>on time</b> and <b>on budget</b>. 
                    <br><br>
                    In every step of a project from design to completion, we are committed to open communication and <b>client satisfaction</b>.
                    <br><br>
                    With a combined <b>40 years</b> of general contracting and construction experience in Montana, you can be assured we will always deliver with the higest standard of <b>craftmanship</b>.
                    <br><br>
                    No job is too big or small. We build luxury custom homes, renovations, additions, garages, decks and everything in between. 
                </p>

                <div class="dropdown">
                    <button onclick="myFunction('myDropdown1')" class="dropbtn">Contact Us</button>
                    <div id="myDropdown1" class="dropdown-content">
                        <a href="tel:406-220-0763">Call Now</a>
                        <a href="mailto:Newhouseconstruction.mt@gmail.com">Email</a>            
                      </div>
                </div>
                
                <!--<a href="https://www.airbnb.com/users/show/422424988" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-xl">Book Now</a>-->
            </div>
            <html>
        </div>
    </div>
</section>