<section class="bg-primary-color" id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="container">
                    <div class="row">
                        <h2 class="section-heading">Client Testimonials</h2>
                        <div class="col-md-12">
                            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                                <!-- Carousel Slides / Quotes -->
                                <div class="carousel-inner text-center">
                                    <!-- Quote 1 -->
                                    <div class="item active">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-sm-8 col-sm-offset-2">
                                                    <p>
                                                        We had such a great stay at the Domes! We only wish we could have stayed longer. Which means we will be back soon. The best part of this place is the views You can’t beat waking up to the Absaroka range right outside your wall of “windows” and a cup of coffee/tea from your Adirondack chairs around the outdoor fire pit. Very peaceful. This place puts the glam in glamping.
                                                    </p>
                                                    <small>Sarah</small>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <!-- Quote 2 -->
                                    <div class="item">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-sm-8 col-sm-offset-2">
                                                    <p>
                                                        Whether you live in the area or are just passing through you HAVE to stay at The Domes! What an amazing concept that is flawlessly executed! The domes themselves, the amenities, and the views were all above and beyond my expectations! Also close enough to anything you may need including awesome restaurants and things to do! Truly The Domes make me want to come back to Montana and stay here again!
                                                    </p>
                                                    <small>Kate</small>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <!-- Quote 3 -->
                                    <div class="item">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-sm-8 col-sm-offset-2">
                                                    <p>
                                                        The only thing I wish we could change was the length of our stay! Hannah was so accommodating in booking our 2-day stay, making our sister road trip even more fun! The location was great - 40 minutes from Yellowstone North entrance and 40 minutes from Bozeman. Beautiful views and a great dome experience!
                                                    </p>
                                                    <small>Colleen</small>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <!-- Quote 4 -->
                                    <div class="item">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-sm-8 col-sm-offset-2">
                                                    <p>
                                                        What a cool and fun experience in such a beautiful place! The dome was just as pictured and the views were even more perfect in person. Especially cool at night to see the stars! The bed was super comfy and there was no issue with the temperature inside - it was perfect despite a very chilly and windy night. Kitchen and bathroom are perfect too. The dome is cute and simply decorated with everything you need. Would love to come back in the winter! Thanks for a wonderful experience all around!
                                                    </p>
                                                    <small>Katie</small>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <!-- Quote 5 -->
                                    <div class="item">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-sm-8 col-sm-offset-2">
                                                    <p>
                                                        Amazing stay with gorgeous views. Highly recommend!!
                                                    </p>
                                                    <small>Emma</small>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <!-- Quote 6 -->
                                    <div class="item">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-sm-8 col-sm-offset-2">
                                                    <p>
                                                        These domes are so incredible! Just an incredible view to wake up to in the morning! My wife and I would recommend these domes to anyone looking for a comfy quiet place to stay!
                                                    </p>
                                                    <small>Andrew</small>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <!-- Quote 7 -->
                                    <div class="item">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-sm-8 col-sm-offset-2">
                                                    <p>
                                                        Everything was awesome! Super unique experience surrounded by beautiful scenery. Everything was very clean and the views can’t be beat. Had a great time sitting outside by the fire pit. The bed was very warm and super comfortable. Definitely would recommend!
                                                    </p>
                                                    <small>Alix</small>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>                                   
                                </div>
                                <!-- Bottom Carousel Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="img/reviewPics/sarah.webp" alt="">
                                    </li>
                                    <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="img/reviewPics/kate.webp" alt="">
                                    </li>
                                    <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="img/reviewPics/colleen.webp" alt="">
                                    </li>
                                    <li data-target="#quote-carousel" data-slide-to="3"><img class="img-responsive" src="img/reviewPics/Alix.webp" alt="">
                                    </li>
                                    <li data-target="#quote-carousel" data-slide-to="4"><img class="img-responsive" src="img/reviewPics/emma.webp" alt="">
                                    </li>
                                    <li data-target="#quote-carousel" data-slide-to="5"><img class="img-responsive" src="img/reviewPics/andrew.webp" alt="">
                                    </li>
                                    <li data-target="#quote-carousel" data-slide-to="6"><img class="img-responsive" src="img/reviewPics/Alix.webp" alt="">
                                    </li>
                                </ol>
            
                                <!-- Carousel Buttons Next/Prev -->
                                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--<div class="dropdown">
                        <button onclick="myFunction('myDropdown2')" class="dropbtn">Book Now</button>
                        <div id="myDropdown2" class="dropdown-content">
                            <a href="https://myrentals.holidayfuture.com/listings/102413" target="_blank" rel="noopener noreferrer">Dome 1</a>
                            <a href="https://myrentals.holidayfuture.com/listings/93258" target="_blank" rel="noopener noreferrer">Dome 2</a>
                            <a href="https://myrentals.holidayfuture.com/listings/93262" target="_blank" rel="noopener noreferrer">Dome 3</a>
                            <a href="https://myrentals.holidayfuture.com/listings/93257" target="_blank" rel="noopener noreferrer">Dome 4</a>
                          </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            
        </div>
    </div>
</section>
