<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1024"
	maxImageHeight="768"
	indexPageName="JBOXindex.html"
	galleryWidth="80%"
	galleryHeight="70%"
	backgroundColor="rgba(255,255,255,1)"
	textColor="rgba(255,255,255,0)"
	thumbFrameColor="rgba(255,255,255,0)"

>
  <image imageURL="images/home1.jpeg"
	thumbURL="thumbs/home1.jpeg"
	linkURL="images/home1.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/home1.jpeg">
    <title><![CDATA[home1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
    <image imageURL="images/IMG_5552.png"
	thumbURL="images/IMG_5552.png"
	linkURL="images/IMG_5552.png"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/IMG_5552.png">
    <title><![CDATA[IMG_5552]]></title>
    <caption><![CDATA[]]></caption>
  </image>
    </image>
    <image imageURL="images/IMG_5557.png"
	thumbURL="images/IMG_5557.png"
	linkURL="images/IMG_5557.png"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/IMG_5557.png">
    <title><![CDATA[IMG_5557]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/homeOutside.jpeg"
	thumbURL="thumbs/homeOutside.jpeg"
	linkURL="images/homeOutside.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/homeOutside.jpeg">
    <title><![CDATA[homeOutside]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/domes-35.jpg"
	thumbURL="thumbs/domes-35.jpg"
	linkURL="images/domes-35.jpg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/Pitch/PitchWebsite/creative-theme-jekyll/img/domes-35.jpg">
    <title><![CDATA[domes-35]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1667.jpg"
	thumbURL="thumbs/1667.jpg"
	linkURL="images/1667.jpg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/1667.JPEG">
    <title><![CDATA[1667]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2751.jpeg"
	thumbURL="thumbs/IMG_2751.jpeg"
	linkURL="images/IMG_2751.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/IMG_2751.jpeg">
    <title><![CDATA[IMG_2751]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2748.jpeg"
	thumbURL="thumbs/IMG_2748.jpeg"
	linkURL="images/IMG_2748.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/IMG_2748.jpeg">
    <title><![CDATA[IMG_2748]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2742.jpeg"
	thumbURL="thumbs/IMG_2742.jpeg"
	linkURL="images/IMG_2742.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/IMG_2742.jpeg">
    <title><![CDATA[IMG_2742]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2744.jpeg"
	thumbURL="thumbs/IMG_2744.jpeg"
	linkURL="images/IMG_2744.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/IMG_2744.jpeg">
    <title><![CDATA[IMG_2744]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2741.jpeg"
	thumbURL="thumbs/IMG_2741.jpeg"
	linkURL="images/IMG_2741.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/IMG_2741.jpeg">
    <title><![CDATA[IMG_2741]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/home2.jpeg"
	thumbURL="thumbs/home2.jpeg"
	linkURL="images/home2.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/home2.jpeg">
    <title><![CDATA[home2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bath_kitchen.jpg"
	thumbURL="thumbs/bath_kitchen.jpg"
	linkURL="images/bath_kitchen.jpg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/Pitch/PitchWebsite/creative-theme-jekyll/img/bath_kitchen.JPG">
    <title><![CDATA[bath_kitchen]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2750.jpeg"
	thumbURL="thumbs/IMG_2750.jpeg"
	linkURL="images/IMG_2750.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/IMG_2750.jpeg">
    <title><![CDATA[IMG_2750]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1675.jpg"
	thumbURL="thumbs/1675.jpg"
	linkURL="images/1675.jpg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/1675.JPEG">
    <title><![CDATA[1675]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2749.jpeg"
	thumbURL="thumbs/IMG_2749.jpeg"
	linkURL="images/IMG_2749.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/IMG_2749.jpeg">
    <title><![CDATA[IMG_2749]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inside_panorama.jpg"
	thumbURL="thumbs/inside_panorama.jpg"
	linkURL="images/inside_panorama.jpg"
	linkTarget="_blank"
	sourcePath="/Users/wyattraich/Desktop/Pitch/PitchWebsite/creative-theme-jekyll/img/inside_panorama.JPG">
    <title><![CDATA[inside_panorama]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>