<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TH5MS3L"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  {% include nav.html %}
  {% include header.html %}
  {% include ourWork.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>

<script>
  //Array of images which you want to show: Use path you want.
  var images=new Array('img/home1.jpeg','img/homeOutside.jpeg','img/home2.jpeg','img/inside_panorama.JPG');
  var nextimage=0;
  doSlideshow();
  
  function doSlideshow(){
      if(nextimage>=images.length){nextimage=0;}
      $('.header')
      .css('background-image','url("'+images[nextimage++]+'")')
      .css('box-shadow', 'inset 0 0 0 2000px rgba(0, 0, 0, 0.3)')
      .fadeIn(3000,function(){
          setTimeout(doSlideshow,5000);
      });
  }
</script>